
@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/bootstrap-grid.scss";


//COLORS


$day1: #FFFFFF;
$day2: #F8F8F8;
$day3: #000000;

$dark1: #000000;
$dark2: #0B0B0B;
$dark3: #343434;


// FONTS
$manrope-h1: bold 25px Manrope;
$manrope-p1: 300 20px Manrope;

//COMPONENTS
$border-1: 0px 10px 60px -40px #505050;


//MIXINS

// <sm
@mixin navbar-xs {
    .navbarContainer {
        width: 100%;
        height: 100px;
        .navbarLinkBg {
            font-size: 20px;
            padding: 0 40px 0 40px;
        }
        .navbarLinkLeft {
            width: 100%;
            text-align:left;
        }
        .navbarLinkRight {
            width: 100%;
            text-align: right;
        }    
        .navbarLogo {
            width: 100px;
        }
    }
}
@mixin gallery-xs {
    .galleryContainer {
        .gallerySquare {
            width: 100%;
            height: fit-content;
            .galleryThumbnailContainer {
                .galleryThumbnail {
                    width: 100%;
                    height: 100%;
                }
            }
            .galleryMenu {
                width: 100%;
                height: auto;
                gap: 0px;    
                flex-direction: column;
                .galleryLink {
                    padding: 20px 0px 0px 0px;
                    font-size:20px;
                    font-weight: 200;
                    padding-left: 15px;
                    &:not(:last-child) {
                        padding-bottom: 20px;                
                        border-bottom: 1px solid #c7c7c7;
                    }
                    &:last-child {
                        padding-bottom: 20px;
                        font-weight: bold;
                    }
                    &::after {
                        content: attr(id);
                        float: right;
                        font-size: 15px;
                        font-weight: normal;
                        opacity: 20%;
                        position: relative;
                        margin-right: 20px;                
                    }                    
                }
            }
        }
    }

   
}
@mixin features-xs {

    width: 100%;
    
    .featuresFlexContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        

        .featuresContainer {
            margin-top: 60px;
            width: 410px;    
            display: flex;
            flex-direction: row;
            justify-content: center;
            background-color: $day2;
            border: 1px solid rgb(222, 222, 222);
            box-shadow:  $border-1;

        .featuresSquare {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 380px;
            h3{
                width: 100%;
                font: $manrope-h1;

                &::after {
                    content: attr(id);
                    display: inline-block;
                    font-size: 25px;
                    height: 0;
                    opacity: 10%;
                    float: right;
                }
            }
            
            p{
                width: 100%;
                text-align: justify;
                font: $manrope-p1;
                opacity: 60%;

            }

            img {
                width: 380px;
                box-shadow: $border-1;
                }
            }
        }
    }   
    

}

// >sm
@mixin navbar-sm {
    .navbarContainer {
        width: 100%;
        height: 120px;
        .navbarLinkBg {
            font-size: 20px;
            &:hover {
                border-bottom: 1px solid #000000;
            }
        }
        .navbarLogo {
            width: 100px;
            margin: 0 120px 0 120px;
        }
    }
}
@mixin gallery-sm {
    .galleryContainer {
        .gallerySquare {
                width: calc(576px + 10%);
                height: fit-content;
            .galleryThumbnailContainer {
                .galleryThumbnail {
                    width: 100%;
                    height: 100%;
                }
            }
            .galleryMenu {
                padding-left: 10px;   
                gap: 40px;             
                .galleryLink {
                    padding: 20px 0px 20px 0px;                    
                    font-size: 18px;
                    font-weight: 300;
                    //text-align: center;       
                    &:first-child {
                        //padding-right: -10px;

                    }         
                    &:not(:last-child) {
                        padding-right: 40px;
                
                        border-right: 1px solid #c7c7c7;
                    }
                    &:last-child {
                        padding-right: 30px;
                        font-weight: bold;
                    }
                }
            }
        }
    }

   
    
}
@mixin features-sm {

    width: 100%;
    
    .featuresFlexContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        

        .featuresContainer {
            margin-top: 60px;
            width: 410px;    
            display: flex;
            flex-direction: row;
            justify-content: center;
            background-color: $day2;
            border: 1px solid rgb(222, 222, 222);
            box-shadow:  $border-1;

        .featuresSquare {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 380px;
            h3{
                width: 100%;
                font: $manrope-h1;

                &::after {
                    content: attr(id);
                    display: inline-block;
                    font-size: 25px;
                    height: 0;
                    opacity: 10%;
                    float: right;
                }
            }
            
            p{
                width: 100%;
                text-align: justify;
                font: $manrope-p1;
                opacity: 60%;

            }

            img {
                width: 380px;
                box-shadow: $border-1;
                }
            }
        }
    }   
    
    
}

// >md
@mixin navbar-md {
    .navbarContainer {
        width: 100%;
        height: 140px;
        .navbarLinkBg {
            font-size: 25px;
            &:hover {
                border-bottom: 1px solid #000000;
            }
        } 
        .navbarLogo {
            width: 130px;
            margin: 0 180px 0 180px;

        }
    }
    
}
@mixin gallery-md {
    .galleryContainer {
        .gallerySquare {
                width: 768px;
                height: fit-content;
            .galleryThumbnailContainer {
                .galleryThumbnail {
                    width: 100%;
                    height: 100%;
                }
            }
            .galleryMenu {                
                height: fit-content;
                .galleryLink {
                    padding: 40px 0px 40px 0px;                    
                    font-size: calc(20px + 50%);
                    font-weight: 200;
                    &:not(:last-child) {
                        padding-right: 50px;
                        border-right: 1px solid #c7c7c7;
                    }
                    &:last-child {
                        padding-right: 20px;
                        font-weight: bold;
                    }
                    &:hover {
                        &::after {
                            content: attr(id);
                            display: block;
                            font-size: 15px;
                            height: 0;
                            opacity: 20%;
                            position: relative;
                            margin-top: -8px;   
                        }      
                    }
                }
            }
        }
    }

    
    
}
@mixin features-md {
    
    width: 100%;
    
    .featuresFlexContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        

        .featuresContainer {
            margin-top: 60px;
            width: 410px;    
            display: flex;
            flex-direction: row;
            justify-content: center;
            background-color: $day2;
            border: 1px solid rgb(222, 222, 222);
            box-shadow:  $border-1;

        .featuresSquare {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 380px;
            h3{
                width: 100%;
                font: $manrope-h1;

                &::after {
                    content: attr(id);
                    display: inline-block;
                    font-size: 25px;
                    height: 0;
                    opacity: 10%;
                    float: right;
                }
            }
            
            p{
                width: 100%;
                text-align: justify;
                font: $manrope-p1;
                opacity: 60%;

            }

            img {
                width: 380px;
                box-shadow: $border-1;
                }
            }
        }
    }   
    
    
}

// >lg
@mixin navbar-lg {
    .navbarContainer {
        width: 100%;
        height: 160px;
        .navbarLinkBg {
            font-size: 30px;
            &:hover {
                border-bottom: 1px solid #000000;
            }
        }
        .navbarLogo {
            width: 150px;
            margin: 0 180px 0 180px;
        }
    }
}
@mixin gallery-lg {

    .galleryContainer {
        width: 800px;
        height: auto;
        .gallerySquare {
            .galleryThumbnailContainer {
                .galleryThumbnail {

                }
            }
            .galleryMenu {
                padding-left: 10px;
                .galleryLink {
                    padding: 40px 0px 40px 0px;
                    font-size:30px;
                    font-weight: 200;
                    &:not(:last-child) {
                        padding-right: 50px;

                        border-right: 1px solid #c7c7c7;
                    }
                    &:last-child {
                        padding-right: 20px;
                        font-weight: bold;
                    }
                    &:hover {
                        &::after {
                            content: attr(id);
                            display: block;
                            font-size: 15px;
                            height: 0;
                            opacity: 20%;
                            position: relative;
                            margin-top: -8px;

                            
                        }
                    }
                }
            }
        }
    }

    
    
}
@mixin features-lg {

    width: auto;
    
    .featuresFlexContainer {
        display: flex;
        flex-direction: row;
        gap: 60px;

        .featuresContainer {
            margin-top: 60px;
            width: 410px;    
            height: 600px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            background-color: $day2;
            border: 1px solid rgb(222, 222, 222);
            box-shadow:  $border-1;

        .featuresSquare {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 380px;
            h3{
                width: 100%;
                font: $manrope-h1;

                &::after {
                    content: attr(id);
                    display: inline-block;
                    font-size: 25px;
                    height: 0;
                    opacity: 10%;
                    float: right;
                    position: relative;
                    z-index: 0;
                    
                }
            }
            
            p{
                width: 100%;
                text-align: justify;
                font: $manrope-p1;
                opacity: 60%;

            }

            img {
                width: 380px;
                box-shadow: $border-1;
                }
            }
        }
    }   
}

//BOOTSTRAP

//GRID SETUP

// LESS THAN 576px | EXTREMELY SMALL PHONES
@include media-breakpoint-down(sm) {
    body {
        .appContainer {
            //home/Navbar
            @include navbar-xs;
            //home/Gallery
            @include gallery-xs;
            //features
            @include features-xs;
           
            
        }
    }
}

// MORE THAN 576px | PHONES
@include media-breakpoint-up(sm) {
    body {
        .appContainer {
            //home/Navbar
            @include navbar-sm;
            //home/Gallery
            @include gallery-sm;
            //features
            @include features-sm;
           
        }
    }

    
}

// MORE THAN 768px | LARGE PHONES/SMALL TABLETS
@include media-breakpoint-up(md) {
    body {
        .appContainer {
            //home/Navbar
            @include navbar-md;
            //home/Gallery
            @include gallery-md;
            //features
            @include features-md;
            
        }
    }

    
}

// MORE THAN 992 | DESKTOP
@include media-breakpoint-up(lg) {
    body {
        .appContainer {
            
            display: flex;
            flex-direction: column;
            align-items: center;

            //home/Navbar
            @include navbar-lg;
            //home/Gallery
            @include gallery-lg;
            //features
            @include features-lg;
            
            
        }
    }
    
}


