
@import "~bootstrap/scss/bootstrap";

:root {


   
}

@mixin flex_row {

    &:not(:last-child) {
        padding-right: 50px;

        border-right: 1px solid #c7c7c7;
    }
    &:last-child {
        padding-right: 20px;
        font-weight: bold;
    }
    &:hover {

        &::after {
            content: attr(id);
            display: block;
            font-size: 15px;
            height: 0;
            opacity: 20%;
            position: relative;
            margin-top: -8px;

            
        }
        
    }
    
}

@mixin flex_column {
    &:not(:last-child) {
        padding-bottom: 20px;

        border-bottom: 1px solid #c7c7c7;
    }
    &:last-child {
        padding-bottom: 20px;
        font-weight: bold;
    }
    &::after {
        content: attr(id);
        float: right;
        font-size: 15px;
        font-weight: normal;
        opacity: 20%;
        position: relative;
        margin-right: 20px;

    }
}

$day1: #FFFFFF;
$day2: #F8F8F8;
$day3: #000000;

$dark1: #000000;
$dark2: #0B0B0B;
$dark3: #343434;





body {
    display: flexbox;
    justify-content: center;


    #root {
        width: 100%;
        .appContainer {
            .navbarContainer {
                width: 100%;
                height: 100px;

                .navbarLogo {
                    width: 100px;
                    margin: 0% 40px 0% 60px;
                }

                .navbarLinkBg {
                    font-size: 15px;
                    font-weight: 400;
                }
            }
        }

       
    }

}


@include media-breakpoint-up(sm) {

    body {
        display: flex;
        justify-content: center;

 
        #root {
            width: 100%;
            .appContainer {
                .navbarContainer {
                    width: 100%;
                    height: 120px;

                    .navbarLogo {
                        width: 120px;
                        margin: 0% 100px 0% 120px;
                    }

                    .navbarLinkBg {
                        font-size: 20px;
                    }
                }
            }

            .galleryContainer{
                .gallerySquare{
                    .galleryMenu{
                        .galleryLink{
                            @include flex_row;
                        }
                    }
                }
            }

            
        }

    }

   
}

@include media-breakpoint-down(sm) {
    .galleryContainer {
        .gallerySquare {
            width: 100%;
            height: auto;

            .galleryThumbnailContainer {
                .galleryThumbnail {
                    width: 100%;
                    height: 100%;

                }
            }

            .galleryMenu{
                height: 100%;
                //outline: auto;

                flex-direction: column;
                gap: 0px;
               

                .galleryLink {
			padding-left: 20px;
			text-align: left;
                    	//outline:auto;
			width: 100%;
                    	font-size: 100%;
                    	//outline: auto;

                        @include flex_column;
                }
            }
        }

    }
}

@include media-breakpoint-up(md) {

  
       
    
}

@include media-breakpoint-up(lg) {

    body {
        display: flex;
        justify-content: center;

 
        #root {
            width: 100%;
            .appContainer {
                .navbarContainer {
                    width: 100%;
                    height: 156px;

                    .navbarLogo {
                        width: 150px;
                        margin: 0% 100px 0% 120px;
                    }

                    .navbarLinkBg {
                        font-size: 20px;
                    }
                }

                .galleryContainer {
                    
                    padding: 125px 0px 125px 0px;
                }
            }
        }

    }
    
}

@include media-breakpoint-up(xl) {

    

    
}

@include media-breakpoint-up(xxl) {
    
}

@media (prefers-color-scheme: light) {


    body {
        #root {
            .appContainer {
                .navbarContainer {
                    
                    box-shadow: 0px 10px 60px -40px #c7c7c7;

                    .navbarLinkBg {
                        color: $dark1;
                    }


                }
            }
        }
    }

}

// @media (prefers-color-scheme: dark) {


//     body {
//         background-color: #000000;

//         #root {
//             .appContainer {
//                 .navbarContainer {

//                     border: 1px solid $dark3;
                    
                    
//                     .navbarLinkBg {
//                         color: $day2;
//                     }

//                     .navbarLogo {
//                         filter: invert(100%) sepia(9%) saturate(151%) hue-rotate(185deg) brightness(114%) contrast(100%);


                        
//                     }

//                 }
//             }
//         }
//     }

    
// }

