@import "~bootstrap/scss/bootstrap";


.navbarContainer {
    position:sticky;
    position: -webkit-sticky;
    top: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border-bottom: 1px solid rgb(222, 222, 222);
    width: 100%;
    
    .navbarLinkBg {
        font-family: 'Manrope';
        font-weight: 300;
        font-size: 25px;
        text-decoration: none;

        
        letter-spacing: 0.5px;

        


        &:hover {
            border-bottom: 1px solid #000000;
        }

        

        
    }

    
    .navbarLogo {
        
    }
}


