

.navbarContainer {
    position:sticky;
    position: -webkit-sticky;
    top: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border-bottom: 1px solid rgb(222, 222, 222);
    width: 100%;

    .navbarLinkBg {
        font-family: 'Manrope';
        font-weight: 300;
        text-decoration: none;
        color:#000000;
        letter-spacing: 0.5px;
    }    
    .navbarLogo {
        
    }
}


